* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body {
    background: darkcyan;
}

.main {
    background: lightblue;
    width: 70%;
    margin-left: 15%;
    margin-top: 15px;
    border-radius: 10px;
    padding: 25px;
}

.h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
    margin-top: -15px;
    font-size: 40px;
    color: darkred;
}

.sub-menu {
    background: lightblue;
    width: 80%;
    margin: -10px auto 0;
    border-radius: 5px;
    text-align: left;
    height: 50px;
}

.btn {
    display: inline-block;
    background: darkcyan;
    border: 1px solid black;
    border-radius: 3px;
    height: 90%;
    margin: 3px;
    width: 15%;
    font-size: 20px;
    cursor: pointer;
}

.tema-btn {
    display: inline-block;
    height: 35px;
    background: darkcyan;
    border: 1px solid black;
    border-radius: 100px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 44%;
}

.games {
    background: lightblue;
    max-width: 5000px;
    margin: 25px auto;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
}

.btn-2 {
    background: plum;
    color: #222;
    width: 30%;
    height: 125px;
    border: 1px solid #222;
    border-radius: 4px;
    margin: 10px;
    margin-bottom: 70px;
    font-size: 20px;
    cursor: pointer;
}

.sub-menu-2 {
    margin-bottom: 30px;
    background: lightblue;
    margin: -15px auto 30px;
    text-align: center;
}

.name-game {
    font-size: 25px;
    margin-left: 100px;
    margin-bottom: 20px;
    color: darkred;
}

.back-btn {
    background: darkcyan;
    border: 1px solid black;
    border-radius: 4px;
    display: inline-block;
    margin-left: 60%;
    width: 10%;
    height: 20px;
    cursor: pointer;
}

.jpn {
    background: plum;
    color: #222;
    width: 450px;
    height: 300px;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 70px;
    font-size: 20px;
}

.progression {
    background: darkcyan;
    color: #222;
    width: 30%;
    height: 300px;
    border-radius: 4px;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 35px;
}

.f {
    display: flex;
}

#question {
    text-align: center;
    color: darkred;
    font-size: 25px;
}

#answer-buttons {
    text-align: center;
    margin: 15px auto;
}

.btn-3 {
    width: 40%;
    height: 40px;
    background: plum;
    border: 1px solid black;
    cursor: pointer;
    font-size: 20px;
    margin: 15px 20px 15px 20px;
}

#next-btn {
    font-size: 20px;
    background: darkcyan;
}

.info {
    background: lightblue;
    text-align: center;
    border: 1px solid lightblue;
    width: 100%;
    margin-top: -20px;
    border-radius: 3px;
    height: 30px;
}

.btn-4 {
    background: darkcyan;
    border: 1px solid black;
    width: 25%;
    height: 30px;
    font-size: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.btn:hover:not([disabled]),
.btn-2:hover:not([disabled]),
.btn-3:hover:not([disabled]),
.btn-4:hover:not([disabled]),
.btn-5:hover:not([disabled]),
.back-btn:hover:not([disabled]) {
    color: #fff;
}

#quiz {
    padding: 20px 0;
    display: none;
}

#next-btn {
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.btn-5 {
    background: darkcyan;
    border: 1px solid black;
    border-radius: 4px;
    display: inline-block;
    margin-left: 158px;
    height: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.correct {
    background: green;
}

.incorrect {
    background: red;
}