* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body {
    background: black;
}

.main {
    background: white;
    width: 80%;
    max-width: 5000px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.main h1 {
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
    text-align: center;
}

#quiz {
    padding: 20px 0;
    display: none;
}

#quiz h2, #menu h2 {
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
    text-align: center;
    padding: 0 0 10px;
    margin-top: 20px;
}

.btn {
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 50%;
    border: 1px solid #222;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
    margin: 20px auto;
    display: block;
}

.btn:hover:not([disabled]) {
    background: #222;
    color: #fff;
}

.btn:disabled {
    cursor: not-allowed;
}

#next-btn {
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.correct {
    background: green;
}

.incorrect {
    background: red;
}